<h4>This is in _form.html.erb</h4>

<%= form_for @question do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :required => true %>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>

  <%= f.submit %>

<% end %>
