<h1>Posts:</h1>
<p><%= link_to "Post a new question", "/questions/new" %></p>

<% @questions.each do |a| %>
  <h4><%= link_to( a.title, "/questions/#{a.id}" ) %></h4>
  <p><%= link_to a.user.name, "/users/#{a.user.id}" %>:
  <%= image_tag a.user.image %></p>
    <!-- a.user.name throwing errors when creating new questions -->
    <p>Post: <%= truncate( a.body, :length => 40 ) %></p>
    <p>Replies: <%= a.comments.count%>
    Updated: <%= time_ago_in_words(a.created_at) %> ago.</p>
<% end %>

<h4><%= link_to "Post a new question", "/questions/new" %></h4>
