<div class="container">

      <div class="row">
      <div class="nine columns">
        <h5 class="question-head">Post by: <%= link_to @question.user.name, "/users/#{@question.user.id}" %> <%= image_tag @question.user.image %>
          <%= @question.title %>
      </div>

      <div class="three columns">
        <p class="button">Vote
        <%= @question.get_upvotes.size %></p></div>
      </h5>
        <%= link_to like_question_path(@question), method: :put do %>
        <% end %>
      </div>

      <div>Post: <%= @question.body%><br><hr class="plain-line"></div>
        <% if @current_user.present? == false %>

      <% elsif @question.user.id == @current_user.id%>
        <div class="controls">
          <%= link_to "Edit", "/questions/#{@question.id}/edit" %>
          <%= link_to "Delete", "/questions/#{@question.id}", :method => :delete, :data => { :confirm => "Are you sure?"} %>
        </div>
      <% end %>

        <div>Replies: <%= @question.comments.count%> - Created: <%= time_ago_in_words(@question.created_at) %> ago.</div>

      <% if @question.tags.count == 0 %>
        No tags
        <% else %>Tags: <% @question.tags.each do |b| %>
          <a class="button" <%= link_to(b.name, tag_path(b)) %></a>
        <% end %><br>
      <% end %>
      <hr>

  <table>
    <h5>Comments</h5>
      <tr>
        <td class="big-border">
          <%= render @question.comments.order("created_at ASC") %>
            <h3>Add a comment below:</h3>
          <%= render 'comments/form' %>
      </td>
    </tr>
  </table>
</div>
