<% if comment.user %>

  <div class="row">
  <div class="nine columns">
    <h5 class="question-head">Post by: <%= link_to comment.user.name, "/users/#{comment.user.id}" %> <%= image_tag comment.user.image %>
  </div>

  <div class="three columns">
    <p class="button">
      <%= link_to like_comment_path(comment), method: :put do %>Vote
        <%= comment.get_upvotes.size %>
      <% end %>

    </p>
  </div>

  </h5>


  </div>

  <p><%= comment.body %> </p>
  <p>Created: <%= time_ago_in_words(comment.created_at) %> ago.  <%= link_to like_comment_path(comment), method: :put do %>
<% end %>
<hr>

  <% if comment.user == @current_user %>

  <%= form_for([@question, comment]) do |f| %>
      <%= f.text_area :body %> <br>
      <input class="button" type="submit" value="EDIT">
      <a class="button" <%= link_to 'Delete Comment', ([@question, comment]), method: :delete, data: { confirm: 'Are you sure?'} %></a>

  <% end %>
  <% end %>
<!--
  <#%= link_to 'Destroy Comment', ([@question, comment]), method: :delete, data: { confirm: 'Are you sure?'} %>
</p>
<%% end %> -->
<% end %>
