<!DOCTYPE html>
<html>
<head>
  <title>HackOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="css/medium-editor.css"> <!-- Core -->
  <link rel="stylesheet" href="css/themes/default.css"> <!-- or any other theme -->
</head>
<body>

<div class="row nav">

    <% if flash[:success] %>
      <h3><%= flash[:success] %></h3>
    <% end %>
    <% if flash[:error] %>
      <h3><%= flash[:error] %></h3>
    <% end %>


    <div class="nav">
      <div class="u-pull-left">
        <a href="/questions"><h4 class="title">hack overflow</h4></a>
      </div>
      <div class="u-pull-right">
        <a class="button button-primary" <%= link_to("Home", questions_path()) %></a>
        <a class="button button-primary" <%= link_to("Tags", tags_path()) %></a>
        <a class="button button-primary" <%= link_to("Users", users_path()) %></a>

        <!-- <h4><#%= link_to( "Home", questions_path() )%>
        <#%= link_to( "Tags", tags_path() )%>
        <#%= link_to( "Users", users_path() )%> -->
        <% unless @current_user.present? %>
          <a class="button button-primary" <%= link_to("Login", login_path()) %></a>
          <a class="button button-primary" <%= link_to("Sign Up", new_user_path()) %></a>
        <% else %>
          <a class="button button-primary" <%= link_to("View your profile", user_path( @current_user.id ))%></a>
          <a class="button button-primary" <%= link_to("Log out of #{@current_user.name}", logout_path(), :method => :delete) %></a>
          <!-- <#%= link_to( "View your profile", user_path( @current_user.id ) ) %>
          <#%= link_to( "Log out of #{@current_user.name}", logout_path(), :method => :delete ) %> -->
        <% end %>

        <%= @online_users %></h4>
      </div>
    </div>
</div>
<br>
<div class="container">



<%= yield %>

<br>

</div>
<div class="footer">Hack Overflow</div>
<script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">


</body>
</html>
